/* Container styling */
.cen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdf-gallery {
    padding: 20px;
    text-align: center;
    background-color: #463640;
  }
  
  .gallery-heading {
    font-size: 34px;
    margin-bottom: 40px;
    color: white;
  }
  
  /* Flex layout with wrapping and responsive adjustments */
  .pdf-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Individual PDF item styling */
  .pdf-item {
    width: 250px;
    padding: 35px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .pdf-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Link and text styling */
  .pdf-link {
    text-decoration: none;
    color: #333;
  }
  
  .pdf-icon {
    font-size: 40px;
    color: #4A90E2;
    margin-bottom: 10px;
  }
  
  .pdf-name {
    font-size: 12px;
    font-weight: 500;
    color: #333;
    text-align:center;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .pdf-item {
      width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .pdf-list {
      flex-direction: column;
      align-items: center;
    }
  
    .pdf-item {
      width: 80%;
    }
  }
  